--- 
import Layout from "../layouts/Layout.astro"
import '../components/contact.css'
import drink from './src/assets/eng.jpg'
import pol from './src/assets/pol.jpg'
import Con_card from '../components/contact.jsx'
---

<Layout title = "Food Recipes">
      <div class='container'>
            <h1 style="text-align: center;">THE TEAM</h1>
            <Con_card name="Danasawin Peetitrakul" img={drink}></Con_card>
            <Con_card name="Danasawin Peetitrakul" img={drink}></Con_card>
            <Con_card name="Danasawin Peetitrakul" img={drink}></Con_card>

           

      </div>
  
</Layout>